.navbar {
  max-width: 1430px;
  margin: auto;
  padding: 9px 45px;
  display: flex;
  align-items: center;
  gap: 28px;
  min-height: 90px;
}
.brand {
  text-decoration: none;
  color: inherit;

  .brand-logo {
    object-fit: contain;
    border-radius: 50%;
    margin-top: 8px;
    margin-bottom: -25px;
    z-index: 2;

    img {
      width: 110px;
      height: 110px;
      object-fit: cover;
    }
  }
  .brand-name {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 43px;
    line-height: 1;
    color: #e87512;
    font-weight: 700;
    sup {
      top: -15px;
      position: relative;
      font-size: 12px;
      line-height: 0;
      vertical-align: baseline;
    }
  }

  .brand-tagline {
    font-size: 17px;
    margin-top: 6px;
    color: #3e2c20;
  }   
}
.nav-item {
  padding: 6px 10px !important;
}
.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: #3a2518; 
  font-weight: 500;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid transparent;

  &:hover, &.active {
    color: #e87512;
    border-bottom: 2px solid #e87512;
  }
}

.account-button {
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-button {
  color: #444;
}


@media (max-width: 991.98px) {
  .site-header {
    .navbar-collapse {
      padding: 1rem 0;
    }

    .navbar-nav {
      margin-left: 0 !important;
    }

    .header-actions {
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 575px) {
  .navbar{
    margin: auto;
    padding: 10px 5px;
  }
  .brand .brand-logo {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .brand .brand-logo img {
    width: 75px;
    height: 75px;
    object-fit: cover;
  }

  .brand .brand-name {
    font-size: 30px;
  }
  .brand .brand-tagline {
    font-size: 11px;
    margin-top: 2px;
    color: #3e2c20;
  }
}